.skills{
    background-color: var(--darker);
    width:100%;
}
.skills div{
    background-color: var(--lighter);
    color: var(--darkest);
}
.box:hover .skills div{
    background-color: var(--mid);
    color: var(--lightest);
}
.box:hover .skills{
    background-color: var(--lightest);
}
.html div{width:90%;}
.css div{width:90%;}
.js div{width:60%;}
.php div{width:45%;}
.py div{width:80%;}
.java div{width:70%;}
.cs div{width:60%;}
.sql div{width:90%;}
.one div{width:100%;}
.two div{width:90%;}
.three div{width:90%;}
.four div{width:100%;}
.de div{width:100%;}
.en div{width:90%;}
.rus div{width:90%;}
.fr div{width:60%;}
.word div{width:100%;}
.pp div{width:100%;}
.excel div{width:80%;}
.access div{width:50%;}