.footer{
    background-color:var(--lighter);
    color:var(--darkest);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    margin:1%;
    flex-grow: 1;
    flex-shrink: 1;
    padding:5%;
}
.footer:hover{
    background-color:var(--lightest);
    color:var(--darkest);
}
.footer h2{
    margin-top: 0;
}
.footer a{
    background-color:var(--darker);
    color:var(--lightest);
}
.footer:hover a{
    background-color:var(--mid);
    color:var(--lightest);
}
.footer a:hover{
    background-color:var(--darker);
    color:var(--lightest);
}